/* Footer */

footer {
    background-color: #cF4E63;
    font-size: 26px; 
    color: white; 
    padding: 20px; 
    text-align: center; 
    
}

/* Rectangle */
.rectangle {    
   
    width: 80%; 
    max-width: 1236px; 
    height: 129px;
    margin-top: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    background: #f2f2f2;
    border-radius: 25px;
    margin-bottom: 50px; 
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

p {
    text-align: left;
    font-family: "PP Neue Montreal";
    color: #5e1e03;
    font-size: 18px;        
    font-weight: 500;
    padding: 20px; 
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: "PP Neue Montreal", sans-serif;
    padding: 20px; 
    color: #5e1e03;
    font-size: xx-large;
}


header img {
    height: 50px; 
    width: auto; 
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    padding-right: 50px; 
    margin-bottom: 20px;
}

.mi-boton {
    width: 159px; 
    height: 45px; 
    border-radius: 25px;
    background-color: #37aaa3; 
    color: white; 
    font-size: 16px;
    border: none; 
    font-family: "PP Neue Montreal", sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mi-boton:hover {
    background-color:#cF4E63; 
    cursor: pointer; 
}
.menu-tabs {
  position: relative; /* Necesario para posicionar el slider dentro */
  display: flex;
  gap:100px;
  padding: 10px 20px;
  background: white;
  border-radius: 50px;
  align-items: left;
}

.tab {
  padding: 10px 25px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s;
}

.tab:hover {
  background: #e5e5e5;
}

.tab.active {
  background: #cF4E63;
  color: white;
}

.slider {
  position: absolute;
  /* La altura será el 100% del padding del contenedor */
  height: calc(100% - 20px); /* 100% menos el padding vertical (10px arriba + 10px abajo) */
  background: #cF4E63;
  border-radius: 25px;
  top: 10px; /* Coincide con el padding-top del .menu-tabs */
  left: 0; /* El JS lo sobreescribirá */
  transition: 0.3s ease;
  z-index: -1; /* Para que se quede detrás del texto de las pestañas */
}
